<div style="margin-top:50px" class="uren-footer_area">

    <div class="footer-middle_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widgets_info">
                        <div class="footer-widgets_logo">
                            <a href="@Url.Action("Index","Home")" class="logo-text">
                                CỬA HÀNG LAPTOP
                            </a>
                        </div>
                        <div class="widget-short_desc">
                            <p>
                                Cửa hàng chúng tôi chuyên về các trang thiết bị điện tử
                            </p>
                        </div>
                        <div class="widgets-essential_stuff">
                            <ul>
                                <li class="uren-address">
                                    <span>Địa chỉ:</span> Đường Nguyễn Văn Cừ nối dài, Quận Ninh Kiều, TP. Cần Thơ
                                </li>
                                <li class="uren-phone">
                                    <span>Gọi chúng tôi:</span> <a href="tel://+123123321345">+123 321 345</a>
                                </li>
                                <li class="uren-email"><span>Email:</span> <a href="mailto://luutrungnghi007@gmail.com">luutrungnghi007@gmail.com</a></li>
                            </ul>
                        </div>
                        <div class="uren-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>                             
                                <li class="instagram">
                                    <a href="https://instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="footer-widgets_area">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-widgets_title">
                                    <h3>Thông tin</h3>
                                </div>
                                <div class="footer-widgets">
                                    <ul>
                                        <li><a href="javascript:void(0)">Về chúng tôi</a></li>
                                        <li><a href="javascript:void(0)">Thông tin giao hàng</a></li>
                                        <li><a href="javascript:void(0)">Chính sách bảo mật</a></li>
                                        <li><a href="javascript:void(0)">Điều khoản & Điều kiện</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-widgets_title">
                                    <h3>Dịch vụ khách hàng</h3>
                                </div>
                                <div class="footer-widgets">
                                    <ul>
                                        <li><a href="javascript:void(0)">Liên hệ chúng tôi</a></li>
                                        <li><a href="javascript:void(0)">Trả hàng</a></li>
                                        <li><a href="javascript:void(0)">Sơ đồ trang web</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-widgets_title">
                                    <h3>Phụ kiện</h3>
                                </div>
                                <div class="footer-widgets">
                                    <ul>
                                        <li><a href="javascript:void(0)">Về chúng tôi</a></li>
                                        <li><a href="javascript:void(0)">Thông tin giao hàng</a></li>
                                        <li><a href="javascript:void(0)">Chính sách bảo mật</a></li>
                                        <li><a href="javascript:void(0)">Điều khoản & Điều kiện</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
