@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="error404-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 ml-auto mr-auto text-center">
                <div class="search-error-wrapper">
                    <h1>404</h1>
                    <h2>KHÔNG TÌM THẤY TRANG</h2>
                    <p class="short_desc">
                        Xin lỗi, nhưng trang bạn đang tìm kiếm không tồn tại, đã bị xóa,
                        tên trang đã thay đổi hoặc tạm thời không khả dụng.
                    </p>
           
                    <div class="uren-btn-ps_center"></div>
                    <a href="@Url.Action("Index","Home")" class="uren-error_btn">Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
